#warpper{ width: 1200px; height: 100%; text-align: center; }    
header{  height: 10px; width: 900px; }
header h1{ text-align: center;  }
header h2{ text-align: center;  }

#tablecontainer{
	position: relative;
	margin: 0 auto;
	margin-top: 10px;
   width: 1280px;
   height: 280px;
   border : 1px solid black;
}  
    
#subTitle{ 
	position: relative;
	margin: 0 auto;
	width: 1280px;
	height: 40px;
	margin-top: 20px;
}
#subtitle{
	position: absolute;
	margin-top: 0px;
	margin-left: 410px;
	width: 430px;
	height: 20px;
	
}
#dispTime{
	position: absolute;
	margin-top: -20px;
	margin-left:210px; 
	width: 430px;
	height: 20px;
}
#wrap1{
	position : relative;
	margin: 0 auto;
	top: 5px;
	border: 1px solid black;
}


#txt {
	position: relative;
    top: 0px;
    left: 1190px
}

#right_div1{
	 position : relative; 
    top: -145px;
    margin-left: 945px;
    border: 1px solid black;
    padding: 15px;
}
aside{ font-size    : 14px; display : block; width: 175px; height: 250px; float: left; margin-top: 5px;
	margin-left : 5px;}

aside table, th{ border-collapse: collapse; border: 1px solid black;
	padding: 5px; text-align: center;}

article{}

table, th, td { border-collapse: collapse;}
#div1{position: absolute; top : 5px; left: 180px; }
.sensornumber div{ float:left; border-collapse: collapse;
	font-size: 1em; font-weight: bold; color: white; text-align: center; margin: 2px ; 
    width : 25px; height: 25px; border-radius : 3px; background-color: darkgray;    }

section{ margin-top: 30px; 
			margin-left: 10px; 
			padding: 6px; 
}

address{        }

.line {overflow: hidden;}
    
.seat{  margin: 2px ; float: left; width : 25px; height: 25px; border-radius : 3px; }

.init{ background: gray; }
.moved{background: gray;}
.stalled{background: red;}
.signalOn1{background: blue;}
.signalOn2{background: lightblue;}
.lowbattery{background: yellow;}
.sensorErr{background: red;}


#test1{ 
	position: relative; 
	margin: 0 auto;
	margin-top: -10px;
	font-size: 16px; 
	text-align: center;
	height: 20px;
	width: 1280px;
}

#getGraphData{ margin-top: 10px;}

#chart_div {margin-left: 10px; margin-top: -370px;  } 
#graphTitle{     }

#scatter { height: 680px; margin-top: 10px; margin-left: 15px;}

#table2 { margin-top: 10px;  margin-left: 15px; }


#box{
	position: relative;
	width: 525px;
	float: left;
	height: 20px;
	margin-left: 0px;
	margin-top: 22px;
}
#box1{ 
	position: relative;
	width: 20px;
	height: 20px;
	margin-left: 0px;
	float: left;
	background: #0000ff;
}
#box2{ 
	width: 20px;
	height: 20px;
	margin-left: 125px;
	background: #A9F5F2;
	float: left;
}
#box3{ 
	width: 20px;
	height: 20px;
	margin-left: 95px;
	background: red;
	float: left;
}
#box4{ 
	width: 20px;
	height: 20px;
	margin-left: 80px;
	background: yellow;
	float: left;
}
#box5{ 
	width: 20px;
	height: 20px;
	margin-left: 120px;
	background: gray;
	float: left;
}

#namebox{
	font-size: 15px;
	position: absolute;
	margin-top: 42px;
	margin-left: -85px;
}
#name1{
	margin-top: -20px;
	margin-left: 110px;
	float: left;
}
#name2{
	margin-top: -20px;
	margin-left: 255px;
	float: left;
}
#name3{
	margin-top: -20px;
	margin-left: 370px;
	float: left;
}
#name4{
	margin-top: -20px;
	margin-left: 470px;
	float: left;
}
#name5{
	margin-top: -20px;
	margin-left: 610px;
	float: left;
}
#rxdMsg{
	position: relative;
	margin: 0 auto;
	width: 1280px;
	height: 400px;
	margin-top: 10px;
	text-align: left;
   border: 1px solid black;
}

#checkbox{
	position:absolute;
	margin-top: 22px;
	margin-left: 680px;
	width: 600px;;
	height: 20px;
}
